
$font-family-ibm-plex: 'IBM Plex Sans', sans-serif;

$font-family-base:  $font-family-ibm-plex;

$font-size-base:              1rem !default;
$h1-font-size:                $font-size-base * 2.223 !default;
$small-font-size:             $font-size-base * 0.66 !default;


$body-bg:  #FFFFFF !default;
$body-color: black !default;

$aquamarine:    #7FFFD4 !default;
$aquamarine-dark:    #7BE4DF !default;
$cyan-blue :    #164157 !default;
$colors: () !default;
$colors: map-merge(
  (
    "aquamarine":      $aquamarine,
    "aquamarine-dark": $aquamarine-dark,
    "cyan-blue":       $cyan-blue
  ),
  $colors
); 


$primary: #FFFFFF; 
$secondary: #7BE4DF1A;
$info:          $cyan-blue !default;